@import url("default.css");

table {
    margin-top: 100px;
    display: table;
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 0px;
}
thead>tr:first-child>th:first-child {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
thead>tr:first-child>th:last-child {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
th {
    padding: 3px;
    border-bottom: 2px solid #f0f1f2;
}
th, th>*{
    color: #ffffff;
    background-color: #209B55;
}
th#sofa {
    border-bottom: 2px solid #209B55;
}
td {
    padding: 3px;
    min-width: 100px;
    border-bottom: 2px solid #665544;
}
th.dborder {
    border-color: #665544;
}
td, td>*, td>*>* {
   background-color: #f0f1f2;
}
td:hover{
    background-color: #C3D8CC;
    color: #000000;
    cursor: pointer;
}
td.clicked {
    background-color: #8fb9a1;
    color: #ffffff;
}
tfoot td {
    border-bottom: 1px solid #665544;
    line-height: 1.5em;
    font-size: 0.85em;
}
tfoot, tfoot td:hover, .calc, .calc>td:hover {
    background-color: #f0f1f2;
    color: inherit;
    text-align: left;
    font-style: italic;
    cursor: default;
}
#result, em {
    font-style: italic;
    padding-left: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    margin: auto;
    background-color: #665544;
    color: #ffffff;
}
em {
    font-style: normal;
}
input {
    width: 45px;
    background-color: #ffffff;
}
#pao-fio, #gamma {
    margin-left: 5px;
    padding: 2px 4px 2px 4px;
}
abbr {
    cursor: default;
}
.calc-button {
    display: inline-block;
    background-repeat: no-repeat;
    min-width: 11px;
    min-height: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.calc-button[data-status='off'] {
    background-image: url("../images/calc.png");
    background-color: #ffffff;
}
.calc-button[data-status='on'] {
    background-image: url("../images/calc_w.png");
}